:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --another-accent-color: #f4f4fd;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid turquoise;
}

/* Logo */

.logo.link {
  color: var(--primary-accent-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
}

.accent-studio {
  color: var(--title-text-color);
}

/* Page header */

/* Site nav */

.nav.link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}

.nav.link:hover,
.nav.link:focus {
  color: var(--secondary-accent-color);
}

/* Address */

.address {
  font-style: normal;
}

.address.link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;
}

.address.link:hover,
.address.link:focus {
  color: var(--secondary-accent-color);
}

/* Hero */

.hero {
  background-color: var(--title-text-color);
  margin-bottom: 120px;
}

.hero-title {
  margin-bottom: 48px;

  color: var(--primary-white-color);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--secondary-accent-color);
}

/* Section */

.section-title {
  margin-bottom: 72px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.section.velues,
.section.we-doing {
  margin-bottom: 120px;
}

.section.team {
  background-color: var(--another-accent-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.our-projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.subsection-title {
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.img-team,
.img-examples {
  margin-bottom: 32px;
}

.text {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.team .subsection-title,
.team .text {
  text-align: center;
}

.team .item {
  background-color: var(--primary-white-color);
}

/* Filters */

.filters.list {
  margin-bottom: 72px;
}

.filters-button {
  color: var(--primary-accent-color);
  background-color: var(--another-accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.filters-button:active,
.filters-button:hover,
.filters-button:focus {
  color: var(--primary-white-color);
  background-color: var(--secondary-accent-color);
}

/* Examples */

.examples .link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background-color: var(--title-text-color);
  padding-top: 101.5px;
  padding-bottom: 100px;
}

.footer .accent-studio,
.footer .text {
  color: var(--another-accent-color);
}

.footer .logo,
.accent-studio {
  margin-bottom: 16px;
}
